#headlineCard{
    height: 200px;
    width: 70vw;
    border: 1px solid #5a5a5a87;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(45deg, #a62f008c, #00000080);
    color: #ffffff;
    margin: 8px;
    #imageContainer{
        display: flex;
        width: 315px;
        overflow: hidden;
        margin: 0px 20px 0px 20px;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        min-width: 315px;
        img{
            width: 80%;
            max-height: 160px;;
        }
    }
}
p{
    font-size: 10px;
    margin: 1px 0px 0px 0px;
}
h2{
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    max-width: 45vw;
}